/*  your css code here. If applicable */
body{
	border:1px solid red;
	margin:40px;
	padding:10px;
};

#imput{
	display:flex;
	
}
.code{
	border:;
	width:85px;
	height:90px;
	font-size:55px;
	text-align:center;
	align-items:center;
	/* cursor: not-allowed; */
    /* pointer-events: none; */
}

.code:focus {
    outline: 2px solid blue; /* Change border color or style to indicate focus */
}

